<div class="app-container">
    <p-dataView #dv [value]="products" [layout]="layout" [sortField]="sortField" [sortOrder]="sortOrder" [rows]="5"
        [paginator]="true">
        <ng-template pTemplate="header">
            <div class="flex justify-content-between">
                <div class=" flex-column md:flex-row md:justify-content-between">
                    <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"
                        styleClass="m-2 md:mb-0"></p-dropdown>

                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input title="search" type="text" pInputText (input)="onSearchChange($event)"
                             />
                    </span>
                </div>

                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>


            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <img title="image" width="300"
                        class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                        [src]="'https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-finish-select-202207-product-red?wid=2560&hei=1440&fmt=jpeg&qlt=95&.v=1662150081176'"
                        [alt]="product.name" />
                    <div
                        class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ product.category }}</span>
                                </span>
                                <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                            </div>
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                            <button title="shopping" pButton icon="pi pi-shopping-cart"
                                class="md:align-self-end mb-2 p-button-rounded"
                                [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{ product.category }}</span>
                        </span>
                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img title="image" width="300" class="w-9 shadow-2 border-round"
                            [src]="'https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-finish-select-202207-product-red?wid=2560&hei=1440&fmt=jpeg&qlt=95&.v=1662150081176'"
                            [alt]="product.name" />
                        <div class="text-2xl font-bold">{{ product.name }}</div>
                        <div class="text-2xl font-bold">{{ product.description }}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                        <button title="shopping" pButton icon="pi pi-shopping-cart" class="p-button-rounded"
                            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>